/* 
  Google Fonts:
    font-family: 'Oxygen', sans-serif;
*/

/* Global Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Oxygen', sans-serif;
	background-color: #f3f3f3;
	font-size: 1.2em;
	line-height: 0.8em;
}

.headings {
	margin-top: 5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

.links {
	color: black;
}

li {
	list-style: none;
}

/* Custom Hero CSS */

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.profile-picture {
	width: 180px;
	height: 171px;
}

.intro {
	text-align: center;
	line-height: 1.2em;
	padding: 20px;
}

.contact-button {
	margin-top: 20px;
	margin-left: 10px;
}

.social-media {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

/* Portfolio Card CSS */

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.individual-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 10px;
	border-radius: 10px;
	font-size: 0.8em;
	line-height: 1.5em;
}

.portfolio-card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	height: 100%;
}

.portfolio-images {
	width: 18rem;
	height: 200px;
	padding: 5px;
}

/* About section CSS */
.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	line-height: 1.5em;
	background-color: #e9ecef;
}

.about-contents {
	border: 1px solid black;
	background-color: #f3f3f3;
	padding: 10px;
	border-radius: 10px;
	max-width: 90%;
}

/* Skills section CSS */
.skills-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.skills-card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
}

.skills-card ul li {
	margin-top: 5px;
}

/* Media Queries */

@media (min-width: 640px) {
	.hero-container {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.profile-picture {
		height: 250px;
		width: 250px;
	}

	.skills-container {
		flex-direction: row;
		justify-content: space-between;
		padding: 10px;
	}
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
