/* 
  Google Fonts:
    font-family: 'Oxygen', sans-serif;
*/

/* Global Styling */
body {
	font-family: 'Oxygen', sans-serif;
}
.nav-bar {
	background-color: blue;
}

.headings {
	text-align: center;
}

/* Custom Hero CSS */

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.profile-picture {
	width: 240px;
	height: 200px;
	border-radius: 50%;
}

.intro {
	text-align: center;
}

button {
	margin-top: 20px;
}

/* Portfolio Card CSS */

.portfolio-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
	height: 100%;
}
